/* General Formatting */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: myriad pro;
}

body {
    width: 900px;
    margin: auto;
}

/* Header Formatting */


#header {
    background-color: #3C3D41;
    text-align: center;
    position: relative;
    height: 80px;
    border-bottom: 1px solid black;
    color: #BBB7BA;
}

#header h1 {
    font-weight: normal;
    position: relative;
    top: 20px;
}


/* Nav */

#nav_wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
}

#nav_wrapper ul {
    position: relative;
    padding: 0;
    margin: 0;
    height: 30px;
    top: 0;
    background-color: #646A83;
    width: 100%;
}

#nav_wrapper li {
    display: block;
    float: left;
    position: relative;
    text-align: center;
    width: 448px;
    height: 30px;
    z-index: 2;
}

#nav_wrapper li:nth-child(1) {
    border-right: 1px solid black;
}

#nav_wrapper a {
    display: block;
    margin: 0;
    text-decoration: none;
    color: #BBB7BA;
    padding: 5px 20px 5px 20px;
    line-height: 21px;
}

#nav_wrapper li ul {
    display: none;
}


#nav_wrapper li:hover {
    background-color: #7E726C;
}



/* Content area */

.entry_field {
    margin: 5px;
    padding: 10px;
}


label {
    display: inline-block;
    width: 150px;
}



/* Formatting for the table */

table {
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #B0B0BD;

}

th {
    width: 500px;
    margin: auto;
    background-color: #565360;
    color: #BBB7BA;
    font-weight: normal;
}


th, td {
    border: 1px solid black;
    text-align: center;
}


tr:hover {
    background-color: #FBECC5;
}

/* Footer Formatting */



#footer {
    display: block;
    position: relative;
    clear: both;
    color: #BBB7BA;
    background-color: #3C3D41;
    text-align: center;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
